@import 'mixins/_base.scss';

$background-light: #ffffff;
$background-dark: #cccccc;
$text-color: #000000;
$accent-color: #414ba6;

* {
    box-sizing: border-box;
}

body {
    font-family: 'Chivo', sans-serif;
    background-color: $background-light;
    width: 100%;
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Merriweather', sans-serif;
    font-weight: 700;
}

a {
    color: $text-color;

    &:hover {
        color: $accent-color;
    }
}

.wrapper {
    @include bp('sm') {
       @include center-block(80%);
    }

    @include bp('lg') {
        width: 65%;
    }
}

header {
    padding: 0 0.6rem 2rem;
}

.header-photo {
    display: block;
    height: 60vw;
    margin: 0 auto;

    @include bp('sm') {
        height:  40vw;
    }

    @include bp('lg') {
        height:  25vw;
    }
}

.header-content {
    padding-left: 1rem;
}

.header-profiles {
    @include clear();

    padding: 0 2rem;
    list-style: none;
}

.header-profile {
    float: left;
    width: 48%;
    text-align: center;
    margin: 1%;

    a {
        display: block;
        padding: 0.25rem 0.4rem;
        border: 1px solid;
        text-decoration: none;

        span{
            padding-left: 5px;
        }

        &:hover {
           background-color: #cccccc; 
        }
    }
}



.topic {
    padding: 1rem 0;
}

.topic-name {
    display: inline-block;
    font-size: 1.8em;
    margin: 0 0 1.5rem 0.6rem;
    border-bottom: 6px solid $accent-color;
}

.topic-skills {
    display: flex;
    flex-flow: wrap;
    margin-top: 1.5rem;

    @include bp("sm") {
       @include center-block(85%); 
    }
}

.skill {
    width: calc(100% / 3);
}
.skill-block {
    text-align: center;
    padding: 0 3%;
}
.skill-icon {
    width: 75%;
    padding: 0 12.5%;
}
.skill-title {
    font-size: 1.3em;
    font-weight: 400;
}

.highlight {
    background-color: $background-dark;
    padding: 2rem 0;
}

.highlight-name {
    font-size: 1.7em;
    margin: 0 0 1rem 0.6rem;
}

.highlight-text {
    width: 90%;
    margin: 0 auto;
    
    p {
        padding-left: 1rem;
        border-left: 8px solid $accent-color;
        margin-left: 0.5rem;
    }

    ul {
        padding-left: 55px;
    }
}

.highlight { 
    li {
        margin-bottom: 0.5rem;
    }
    .course {
        font-style: italic;
    }
}