@import 'mixins/_base.scss';

* {
    box-sizing: border-box;
}

body {
    font-family: 'Chivo', sans-serif;
    background-color: #ffffff;
    width: 100%;
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Merriweather', sans-serif;
    font-weight: 700;
}

a {
    color: #000000;

    &:hover {
        color: #414ba6;
    }
}


header {
    padding: 2rem 0.6rem;
}

.header-content {
    padding-left: 1rem;
}

.header-profiles {
    @include clear();

    padding: 0 2rem;
    list-style: none;
}

.header-profile {
    float: left;
    width: 48%;
    text-align: center;
    margin: 1%;

    a {
        display: block;
        padding: 0.25rem 0.4rem;
        border: 1px solid;
        text-decoration: none;

        span{
            padding-left: 5px;
        }

        &:hover {
           background-color: #cccccc; 
        }
    }
}

.topic {
    padding: 1rem 0;
}

.topic-name {
    display: block;
    font-size: 1.8em;
    margin: 0 0 1.5rem 0.6rem;
}

.topic-skills {
    display: flex;
    flex-flow: wrap;
    margin-top: 1.5rem;
}

.skill {
    width: calc(100% / 3);
}
.skill-block {
    text-align: center;
    padding: 0 3%;
}
.skill-icon {
    width: 75%;
    padding: 0 12.5%;
}
.skill-title {
    font-size: 1.3em;
    font-weight: 400;
}

.highlight {
    background-color: #cccccc;
    padding: 2rem 0;
}

.highlight-name {
    font-size: 1.7em;
    margin: 0 0 1rem 0.6rem;
}

.highlight-text {
    width: 90%;
    margin: 0 auto;
    
    p {
        padding-left: 1rem;
        border-left: 8px solid #414ba6;
        margin-left: 0.5rem;
    }

    ul {
        padding-left: 55px;
    }
}

.highlight { 
    li {
        margin-bottom: 0.5rem;
    }
    .course {
        font-style: italic;
    }
}