section.topic
    h2.topic-name topic.name
    div.skills
        #forEach skill in topic.skills
            div.skill
                div.skill-block
                    img.skill-icon(src=skill.icon)
                div.skill-block
                    span.skill-title skill.name