section.topic
    h2.topic-name #{topic.name}
    div.topic-skills
        each skill in topic.skills
            div.skill
                div.skill-block
                    img.skill-icon(src=skill.logo.src, alt=skill.logo.altText)
                div.skill-block
                    span.skill-title #{skill.name}