* {
  box-sizing: border-box; }

body {
  font-family: 'Chivo', sans-serif;
  background-color: #ffffff;
  width: 100%;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', sans-serif;
  font-weight: 700; }

content {
  padding: 0 3%; }

.topic {
  background-color: #cccccc;
  padding: 1rem 0; }

.topic-name {
  display: block;
  font-size: 1.8em;
  margin: 0 0 1.5rem 0.6rem; }

.topic-skills {
  display: flex;
  flex-flow: wrap;
  margin-top: 1.5rem; }

.skill {
  width: calc(100% / 3); }

.skill-block {
  text-align: center;
  padding: 0 3%; }

.skill-icon {
  width: 75%;
  padding: 0 12.5%; }

.skill-title {
  font-size: 1.3em;
  font-weight: 400; }

.highlight {
  padding: 2rem 0; }

.highlight-name {
  font-size: 1.7em;
  margin: 0 0 1rem 0.6rem; }

.highlight-text {
  width: 90%;
  margin: 0 auto;
  padding-left: 2rem; }

.highlight li {
  margin-bottom: 0.5rem; }

.highlight .course {
  font-style: italic; }
