html
    head
        meta()
        title model.title
    body.flex-container
        header.header-fixed
            img.logo(src=model.logo.src; alt=model.logo.altText;)
            nav
                a(href="#skills")
                a(href="#contact")
        content
            div.hero

            div#skills
                #forEach topic in model.topics
                    #loop-index
                    #topic-partial
                    #highlight[loop-index]-partial
                    

