extends layout.pug

block headerNav
    nav
        a(href="#skills")
        a(href="#contact")

block body
    content
        div.hero

        div#skills
            each topic, index in model.topics
                - var highlight= model.highlights[index];
                include partials/topic.pug               
                include partials/highlight.pug
                    

