doctype html
html
    head
        meta()
        title #{model.title}
        block styles
            link(href="https://fonts.googleapis.com/css?family=Merriweather:400,700|Chivo:400,400i,900", rel="stylesheet")
            link(href="/css/styles.css", rel="stylesheet")
            

        block scripts
            script(src="https://use.fontawesome.com/824d0608b9.js")
    body

        block body