doctype html
html
    head
        meta()
        title #{model.title}
        block styles
            link(href="https://fonts.googleapis.com/css?family=Asul|Chivo:400,400i,900", rel="stylesheet")
            link(href="/css/styles.css", rel="stylesheet")
            //link(href="/lib/bootstrap/css/bootstrap.css", rel="stylesheet")
            

        block scripts
    body
        nav
            img.logo(src=model.logo.src, alt=model.logo.altText)

            block navLinks

        block body