doctype html
html
    head
        meta()
        title #{model.title}
        block styles
            link(href="/css/styles.css", rel="stylesheet")

        block scripts
    body.flex-container
        header.header-fixed
            img.logo(src=model.logo.src, alt=model.logo.altText)

            block headerNav

        block body